// Base Styles
html,
body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0 auto;
    padding: 0;
}

.wrapper {
    max-width: 1260px;
    width: 80%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $black;
}

button {
    padding: 10px 20px;
    line-height: 25px;
    transition: 0.3s;
    &:hover,
    &:focus {
        cursor: pointer;
    }
}