// Footer Styles

// footer {
//     border: 2px solid $tertiary;
// }

footer {
    color: $white;
    text-align: center;
    .wrapper {
        background-color: black;
        height: 100px;
        padding: 20px;
    }
    p {
        padding: 10px;
        font-size: 0.8rem;
    }
    .contactIcons {
        display:flex;
        justify-content: center;
        text-align: center;
        li {
            margin: 0 5px;
            width: 1.5rem;
            height: 1.5rem;
            a {
                color: $white;
                font-size: 1rem;
                transition: 0.3s;
                &:hover,
                &:focus {
                    color: $secondaryHighlight;
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }
        }
    }
}