// Form Styles

form {
    padding: 125px 50px 25px 100px;
    background-color: $tertiary;
    width: 50%;
    color: $white;
    text-align: left;
    textarea, 
    input {
        margin-top: 25px;
        width: 70%;
        background-color: $tertiary;
        border: transparent;
        border-bottom: 3px solid $white;
        line-height: 2.5rem;
        font-size: 1rem;
        font-weight: 900;
        &::placeholder {
            color: $white;
            opacity: 1;
        }
    }
    textarea{
        resize: none;
    }
    button {
        margin-top: 50px;
        color: $black;
        border: 3px solid $white;
        background-color: $tertiaryHighlight;
        min-width: 40%;
        &:hover,
        &:focus {
            background-color: $white;
            border: 3px solid $tertiaryHighlight;
        }
    }
}