// Header Styles
body {
    position: relative;
}

header {
    img {
        height: 90vh;
        width: 100%;
        object-fit: cover;
    }
    h1 {
        text-align: center;
    }
    // Scroll Down Prompt
    .toAbout {
        text-align: center;
        i {
            padding-top: 0.60rem;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 40px;
            color: $chevron;
            font-size: 2.5rem;
            text-align: center;
            transition: 0.3s;
            &:hover,
            &:focus {
                font-size: 2.3rem;
                cursor: pointer;
                margin-top: 10px;
                padding-top: 0.5rem;
                width: 3rem;
                height: 3rem;
                background-color: $chevron;
                color: $white;
            }
        }
    }
}


// Side Bar Styles
.sideBars {
    .nameBar {
        transform: rotate(-90deg);
        white-space: nowrap;
        position: fixed;
        bottom: 0;
        left: 6%;
        height: 10%;
        width: 5%;
        h6 {
            margin: 0;
            padding-left: 20vh;
        }
    }
    .titleBar {
        transform: rotate(90deg);
        white-space: nowrap;
        position: fixed;
        top: 0;
        right: 2.5%;
        height: 10%;
        width: 5%;
        h6 {
            margin: 0;
            padding-left: 25vh;
        }
        .extraSpace {
            padding-left: 34vh;
        }
    }
}
