// Header Styles

img {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
}

// Side Bar Styles
.sideBars {
    text-align: center;
    // border: 2px solid red;
    .nameBar {
        // border: 2px solid blue;
        white-space: nowrap;
        transform: rotate(-90deg);
        position: fixed;
        top: 50%;
        left: -75px;
    }
    .titleBar {
        // border: 2px solid green;
        white-space: nowrap;
        transform: rotate(90deg);
        position: fixed;
        top: 50%;
        right: -35px;
    }
}