// Header Styles
header {
    img {
        height: 90vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    h1 {
        text-align: center;
    }
    // Scroll Down Prompt
    i {
        width: 100%;
        margin-top: 25px;
        color: pink;
        font-size: 2rem;
        text-align: center;
    }
}


// Side Bar Styles
.sideBars {
    text-align: center;
    .nameBar {
        white-space: nowrap;
        transform: rotate(-90deg);
        position: fixed;
        top: 50%;
        left: 0px;
    }
    .titleBar {
        white-space: nowrap;
        transform: rotate(90deg);
        position: fixed;
        top: 50%;
        right: 25px;
    }
}
