// Devices with screens 1550px and smaller
@media (max-width: 1550px) {
    // Header Styles
    header {
        .sideBars {
            .nameBar {
                left: 5%;
            }
            .titleBar {
                right: 1.5%;
            }
        }
    }
}

// Devices with screens 1400px and smaller
@media (max-width: 1400px) {
    // About Styles
    .about {
        .aboutFlex {
            .aboutText {
                width: 50%;
            }
            .photo {
                width: 50%;
            }
        }
    }
    // Projects Styles
    .projects {
        .project {
            width: calc((100%/2) - 15px);
            height: 500px;
            button {
                margin-top: 20px;
            }
        }
    }
}

// Devices with screens 1300 and smaller
@media (max-width: 1300px) {
    // Header Styles
    header {
        .sideBars {
            h6 {
                font-size: 2rem;
            }
            .nameBar {
                h6 {
                    padding-left: 24vh;
                }
            }
            .titleBar {
                right: 2.5%;
                h6 {
                    padding-left: 30vh;
                }
                .extraSpace {
                    padding-left: 37vh;
                }
            }
        }
    }
    // Projects Styles
    .projects {
        .project {
            height: 450px;
            .titleAdjust2 {
                padding-top: 0;
            }
        }
    }
    // About Styles
    .about {
        .aboutFlex {
            flex-direction: column;
            align-items: center;
            .aboutText {
                width: 80%;
                padding: 0;                
            }
            .photo {
                width: 40%;
                margin: 50px 0;
            }
        }
    }
    // Forms Styles
    form {
        padding: 0 75px 50px 75px;
        textarea,
        input {
            width: 90%;
        }
    }
}

// Devices with screens 1200px and smaller
@media (max-width: 1200px) {
    .contact {
        .contactTextAndSocials {
            padding-top: 50px;
        }
    }
    // Projects Styles
    .projects {
        .project {
            height: 400px;
        }
    }
}

// Devices with screens 1120px and smaller
@media (max-width: 1120px) {
    h5 {
        font-size: 2rem;
    }
}

// Devices with screens 1108px and smaller
@media (max-width: 1108px) {
    // Projects Styles
    .project {
        .titleAdjust3 {
            padding-top: 0;
        }
    }
}

// Devices with screens 1100px and smaller
@media (max-width: 1100px) {
    // Header Styles
    header {
        h1 {
            top: 15px;
            font-size: 1.2rem;
            left: calc(50% - 115px);
        }
        .sideBars {
            h6 {
                font-size: 1.5rem;
            }
            .nameBar {
                left: 6.5%;
                h6 {
                    padding-left: 28vh;
                }
            }
            .titleBar {
                right: 3.5%;
                h6 {
                    padding-left: 33vh;
                }
                .extraSpace {
                    padding-left: 39vh;
                }
            }
        }
    }
    // Projects Styles
    .projects {
        .project {
            height: 375px;
        }
    }
}

// Devices with screens 1086px and smaller
@media (max-width: 1086px) {
    // Projects Styles
    .project {
        .titleAdjust4 {
            padding-top: 0;
        }
    }
}

// Devices with screens 1000px and smaller
@media (max-width: 1000px) {
    // Nav Bar Styles
    .ul1,
    .ul2 {
        li {
            margin: 0 10px;
        }
    }
    // About Styles
    .about {
        .aboutFlex {
            .photo {
                width: 100%;
            }
        }
    }
    // Projects Styles
    .projects {
        ul {
            flex-direction: column;
            align-items: center;
            .project {
                width: 65%;
                height: 450px;
                .titleAdjust3,
                .titleAdjust4 {
                    padding-top: 20px;
                }
                button {
                    margin-top: 75px;
                }
            }
        }
    }
    // Contact Styles
    .contactFlexContainer {
        flex-direction: column;
        align-items: center;
        .contactTextAndSocials {
            width: 80%;
            padding: 50px;
        }
    }
    // Forms Styles
    form {
        width: 80%;
        padding: 50px;
        textarea,
        input {
            width: 100%;
        }
    }
}

// Devices with screens 901px and larger
@media (min-width: 901px) {
    // Hamburger Menu Styles
    .hamMenu {
        .hamNav {
            display: none;
        }
    }
}

// Devices with screens 900px and smaller
@media (max-width: 900px) {  
    // Hamburger Menu Styles
    .hamMenu {
        position: fixed;
        top: 15px;
        right: 10%;
    }
    // Nav Bar Styles - hidden for smaller screens
    .navBar {
        height: 55px;
        ul {
            position: absolute;
            top: -300px;
        }
    }
    // Header Styles  
    header {
        .sideBars {
            .nameBar {
                left: 8%;
            }
            .titleBar {
                right: 4%;
            }
        }
    }
    // Projects Styles
    .projects {
        ul {
            .project {
                width: 85%;
                .titleAdjust2 {
                    padding-top: 20px;
                }
            }
        }
    }
}

// Devices with screens 844px and smaller
@media (max-width: 844px) {
    // Projects Styles
    .projects {
        ul {
            .project {
                .titleAdjust2 {
                    padding-top: 0;
                }
            }
        }
    }
}

// Devices with screeens 800px and smaller
@media (max-width: 800px) {
    // About Styles
    .about {
        padding: 15px 100px 100px 100px;
        h5 {
            font-size: 2rem;
        }
        p {
            font-size: 1rem;
        }
        .aboutFlex {
            .aboutText {
                width: 100%;
            }
        }
    }
    // Contact Styles
    .contact {
        padding: 0;
    }
    // Forms Styles
    form {
        text-align: center;
    }
}

// Devices with screens 750px and smaller
@media (max-width: 750px) {
    // Projects Styles
    .projects {
        margin-bottom: 75px;
        ul {
            .project {
                width: 100%;
            }
        }
    }
}

// Devices with screens 705px and smaller
@media (max-width: 705px) {
    // About Styles
    .tools {
        padding: 25px 0;
    }
}

// Devices with screens 700px and smaller
@media (max-width: 700px) {
    // Header Styles
    header {
        h3 {
            text-shadow: 2px 1px $white;
            letter-spacing: 0.1rem;
        }
        .sideBars {
            height: 0;
            .nameBar {
                white-space: normal;
                transform: rotate(0deg);
                position: relative;
                top: 12vh;
                left: -15%;
                width: 100%;
                padding: 0 15%;
                text-align: center;
                h6 {
                    padding: 0;
                    font-size: 2rem;
                }
            }
            .titleBar {
                white-space: normal;
                transform: rotate(0deg);
                position: relative;
                top: 72vh;
                left: -20%;
                width: 100%;
                padding: 0 20%;
                text-align: center;
                h6,
                .extraSpace {
                    padding: 0;
                    font-size: 1.7rem;
                }
            }
        }
    }   
    // Projects Styles
    .projects {
        padding: 0 75px;
    }
}

// Devices with screens 645px and smaller
@media (max-width: 645px) {
    .wrapper {
        width: 90%;
    }
    // Hamburger Menu Styles
    .hamMenu {
        position: fixed;
        top: 15px;
        right: 5%;
        .hamNav {
            margin-right: 10px;
            line-height: 1.2rem;
        }
    }
}

// Devices with screens 618px and smaller
@media (max-width: 618px) {
    // Projects Styles
    .projects {
        ul {
            .project {   
                .titleAdjust3 {
                    padding-top: 0;
                }
            }
        }
    }
}

// Devices with screens 580px and smaller
@media (max-width: 580px) {
    // Header Styles
    header {
        .sideBars {           
            .nameBar {
                width: auto;
                left: 0;
            }
        }
    }
    // About Styles
    .about {
        padding: 1px 50px 50px 50px;
        h5 {
            font-size: 1.5rem;
        }
    }
    // Projects Styles
    .projects {
        padding: 0 20px;
        ul {
            .project {
                width: 100%;
                .titleAdjust2,
                .titleAdjust3 {
                    padding-top: 20px;
                }
            }
        }
    }
}

// Devices with screens 561px and smaller
@media (max-width: 561px) {
    // Projects Styles
    .projects {
        ul {
            .project {
                .titleAdjust2 {
                    padding-top: 0;
                }
            }
        }
    }
}

// Devices with screens 481px and smaller
@media (max-width: 481px) {
    // Header Styles
    header h1 {
        left: 5%;
    }
    // Projects Styles
    .projects {
        ul {
            .project {
                .titleAdjust3 {
                    padding-top: 0;
                }
            }
        }
    }
    // Contact Styles
    .contact {
        .contactTextAndSocials {
            padding: 50px 0;
        }
    }
    form {
        width: 100%;
        padding: 25px;
    }
}

// Devices with screens 470px and smaller
@media (max-width: 470px) {
    // About Styles
    .about {
        padding: 25px;
    }
    // Projects Styles
    .projects {
        ul {
            .project {
                .titleAdjust4 {
                    padding-top: 0;
                }
            }
        }
    }
}

// Devices with screens 430px and smaller
@media (max-width: 430px) {
    // Header Styles
    header {
        .sideBars {
            .titleBar {
                width: auto;
                left: 0;
                top: 68vh;
            }
        }
    }
    // Projects Styles
    .projects {
        padding: 0 10px;
        h4 {
            position: absolute;
            left: -1000px;
        }
        ul {
            .project {
                height: 490px;
                img {
                    opacity: 0;
                }
                .titleAdjust1 {
                    height: 3.3rem;
                }
                .titleAdjust2 {
                    padding-top: 20px;
                    height: 3.6rem;
                }
                .titleAdjust3,
                .titleAdjust4 {
                    padding-top: 20px;
                }
                .titleAdjust5 {
                    padding-top: 30px;
                }
                .infoOverlay {
                    padding: 5px;
                    opacity: 1;
                }
                .madeWithIcons img {
                    opacity: 1;
                }
                h3 {
                    padding-top: 10px;
                }
                p {
                    height: auto;
                }
                hr {
                    margin-top: 30px;
                }
                button {
                    margin: 5px 0 5px 0;
                    width: 80%;
                }
            } 
            .infoOverlay{
                height: 97.8%;
                width: 97%;
            }
        } 
    }
}