// Styles for Navigation Bar
.navBar {
   position: relative;
    nav {
        display: flex;
        justify-content: space-between;
        position: fixed;
        margin-top: 0;
        margin-left: 0;
        padding-top: 10px;
        height: 55px;
        z-index: 10;
        background-color: $white;
        .ul1 {
            justify-content: flex-start;
            width: 50%;
            margin: 0 10% 0 0;
        }
        .ul2 {
            justify-content: flex-end;
            width: 50%;
            margin: 0 0 0 010%;
        }
        ul {
            display: flex;
            li {  
                margin: 0 5%;
                padding-top: 10px;
                min-width: 100px;
                text-align: center;
                border-bottom: 5px solid transparent;
                transition: 0.3s;
                &:hover,
                &:focus {
                    border-bottom: 5px solid $navPrimaryHighlight;
                    cursor: pointer;
                }
            }
        }
    }
}