// Styles for Navigation Bar

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    line-height: 4rem;
    background-color: $white;
    width: 100%;
    padding: 0 12%;
    h1 {
        min-width: 200px;
    }
    ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        li {            
            width: calc((100%/5) - 80px);
            text-align: center;
            width: 100px;
            h4 {
                border-bottom: 5px solid transparent;
                transition: 0.3s;
                &:hover,
                &:focus {
                    border-bottom: 5px solid rgba(0, 0, 0, 0.6);
                    cursor: pointer;
                }
            }
        }
    }
}