// Styles for Navigation Bar

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    line-height: 2rem;
    background-color: $white;
    width: 100%;
    padding: 0 12%;
    padding-top: 10px;
    h1 {
        min-width: 300px;
    }
    ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        li {            
            width: calc((100%/5) - 80px);
            text-align: center;
            width: 100px;
            border-bottom: 5px solid transparent;
            transition: 0.3s;
            &:hover,
            &:focus {
                border-bottom: 5px solid $secondaryHighlight;
                cursor: pointer;
            }
        }
    }
}