// Sections Styles

// About Styles
.about {
    background-color: $secondary;
    margin: 100px 0;
    padding: 75px 100px 100px 100px;
    h2 {
        margin: 75px 0 50px 0;
        text-align: center;
    }
    p {
        margin-top: 25px;
    }
}
.aboutFlex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .aboutText {
        width: 70%;
        line-height: 1.5;
        padding: 25px 50px 25px 0;
        hr {
            margin-top: 25px;
            width: 400px;
            border: transparent;
            border-top: 10px dotted $secondaryHighlight;
        }
    }
    .photo {
        width: 30%;
        img {
            width: 100%;
            height: auto;
            background-position: cover;
            box-shadow: 10px 10px 10px grey;
        }
    }
}
.tools {
    margin-top: 25px;
    text-align: center;
    h3 {
        padding-bottom: 5px;
        width: 150px;
        border-bottom: 2px solid $secondaryHighlight;
    }
    .toolsFlex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            width: 100px;
            margin-top: 20px;
            text-align: center;
            i {
                font-size: 2rem;
            }
            img {
                width: 35px;
                height: auto;
            }
            p {
                font-size: 0.8rem;
                margin-top: 10px;
            }
        }
    }
}


// Projects Styles
.projects {
    border: 10px solid $primary;
    margin: 100px 0;
    padding: 75px 100px 100px 100px;
    h2 {
        margin: 75px 0;
        text-align: center;
    }
    img {
        width: 100%;
        height: auto;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            // border: 2px solid gold;
            margin-bottom: 50px;
            width: calc((100%/3) - 40px);
            text-align: center;
            button {
                border: 2px solid $white;
                background-color: $primary;
                &:hover,
                &:focus {
                    background-color: $white;
                    border: 2px solid $primary;
                    color: $black;
                }
            }

        }
    }
}


// Contact Styles
.contact {
    // border: 2px solid lawngreen;
    margin-top: 100px;
    padding: 75px 100px 100px 100px;
    h2 {
        margin: 75px 0;
        text-align: center;
    }
    p {
        margin-bottom: 50px;
    }
    .returnToTop {
        text-align: center;
    }
    .contactFlexContainer {
        display: flex;
    }
    .contactTextAndSocials {
        width: 50%;
        padding: 0 75px;
        .contactSocials {
            text-align: center;
            font-size: 35px;
            color: $tertiary;
            i {
                transition: 0.3s;
                &:hover,
                &:focus {
                    color: $quaternary;
                    cursor: pointer;
                }
            }
        }
    }
    .returnToTop i {
        width: 50px;
        height: 50px;
        font-size: 2rem;
        color: $tertiary;
        transition: 0.3s;
        &:hover,
        &:focus {
            color: $quaternary;
            font-size: 1.9rem;
            cursor: pointer;
        }
    }
}