// Sections Styles

// About Styles
.about {
    // border: 2px solid royalblue;
    // background-color: rgba(224, 245, 201, 0.644);
    padding: 100px 0;
    height: 800px;
    h2 {
        margin: 75px 0;
        text-align: center;
    }
}
.aboutFlex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // border: 2px solid orange;
    .aboutText {
        width: calc(35% - 10px);
        height: 375px;
        // border: 2px solid red;
        margin: 50px 25px;
        padding: 50px;
        background-color: $secondary;
        // box-shadow: 10px 10px 10px grey;
        // transform: rotate(-3deg);
        h3 {
            margin-bottom: 25px;
        }
    }
    .photo {
        width: calc(50% - 10px);
        // border: 4px dotted green;
        img {
            width: 100%;
            height: auto;
            background-position: cover;
            // box-shadow: 10px 10px 10px grey;
        }
    }
}

// Projects Styles
.projects {
    // border: 2px solid rebeccapurple;
    padding: 100px 0;
    h2 {
        margin: 75px 0;
        text-align: center;
    }
    img {
        width: 100%;
        height: auto;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            // border: 2px solid gold;
            margin-bottom: 50px;
            width: calc((100%/3) - 40px);
            text-align: center;
            button {
                border: 2px solid $white;
                background-color: $primary;
                &:hover,
                &:focus {
                    background-color: $white;
                    border: 2px solid $primary;
                    color: $black;
                }
            }

        }
    }
}


// Contact Styles
.contact {
    border: 2px solid lawngreen;
    padding-top: 100px;
    h2 {
        margin: 75px 0;
        text-align: center;
    }
    p {
        margin-bottom: 50px;
    }
    .returnToTop {
        text-align: center;
    }
    .contactFlexContainer {
        display: flex;
    }
    .contactTextAndSocials {
        width: 50%;
        padding: 0 75px;
        .contactSocials {
            text-align: center;
            font-size: 35px;
            color: $tertiary;
            i {
                transition: 0.3s;
                &:hover,
                &:focus {
                    color: $quaternary;
                    cursor: pointer;
                }
            }
        }
    }
    .returnToTop i {
        width: 50px;
        height: 50px;
        font-size: 2rem;
        color: $tertiary;
        transition: 0.3s;
        &:hover,
        &:focus {
            color: $quaternary;
            font-size: 1.9rem;
            cursor: pointer;
        }
    }
}