// Site Fonts
$headingsFont: 'Raleway', sans-serif;
$bodyFont: 'Roboto', sans-serif;

// Site Colours
$primary: rgba(248, 225, 95, 0.788);
$secondary: rgb(217, 245, 232);
$secondaryHighlight: rgba(32, 178, 171, 0.644);
$tertiary: rgb(243, 196, 169);
$tertiaryHighlight:rgb(245, 166, 120);
$quaternary: rgb(242, 237, 253);
$white: rgb(255, 255, 255);
$black: rgb(21, 21, 20);