// Site Fonts
$headingsFont: 'Raleway', sans-serif;
$bodyFont: 'Roboto', sans-serif;

// Site Colours
$primary: rgba(248, 225, 95, 0.788);
$secondary: rgb(217, 245, 232);
$secondaryHighlight: rgba(32, 178, 171, 0.644);
$tertiary: rgb(147, 180, 240);
$quaternary: rgb(191, 156, 236);
$white: white;
$black: #151514;