// Site Fonts
$headingsFont: 'Raleway', sans-serif;
$bodyFont: 'Roboto', sans-serif;

// Site Colours
$primary: rgba(248, 225, 95, 0.788);
$secondary: rgb(190, 225, 174);
$secondaryHighlight: rgb(88, 178, 32);
$tertiary: rgb(243, 184, 150);
$tertiaryHighlight:rgb(245, 151, 98);
$quaternary: rgb(246, 244, 250);
$white: rgb(255, 255, 255);
$black: rgb(21, 21, 20);
$chevron: rgb(255, 197, 192);
$navPrimary: rgb(217, 245, 232);
$navPrimaryHighlight: rgba(32, 178, 171, 0.644);