@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Roboto:wght@400;900&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body,
p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.6rem;
  color: #151514;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  text-shadow: 3px 2px white;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: gold;
}

html,
body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #151514;
}

button {
  padding: 10px 20px;
  line-height: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  cursor: pointer;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  line-height: 4rem;
  background-color: white;
  width: 100%;
  padding: 0 12%;
}
nav h1 {
  min-width: 200px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
nav ul li {
  width: calc(20% - 80px);
  text-align: center;
  width: 100px;
}
nav ul li h4 {
  border-bottom: 5px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav ul li h4:hover, nav ul li h4:focus {
  border-bottom: 5px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

header img {
  height: 90vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header h1 {
  text-align: center;
}
header i {
  width: 100%;
  margin-top: 25px;
  color: pink;
  font-size: 2rem;
  text-align: center;
}

.sideBars {
  text-align: center;
}
.sideBars .nameBar {
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: fixed;
  top: 50%;
  left: -40px;
}
.sideBars .titleBar {
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: fixed;
  top: 50%;
  right: -20px;
}

.about {
  background-color: #d9f5e8;
  margin: 100px 0;
  padding: 75px 100px 100px 100px;
}
.about h2 {
  margin: 75px 0 50px 0;
  text-align: center;
}
.about p {
  margin-top: 25px;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.aboutFlex .aboutText {
  width: 70%;
  line-height: 1.5;
  padding: 25px 75px 25px 0;
}
.aboutFlex .aboutText hr {
  margin-top: 25px;
  width: 60%;
  border: transparent;
  border-top: 1px solid rgba(32, 178, 171, 0.644);
}
.aboutFlex .photo {
  width: 30%;
}
.aboutFlex .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 10px 10px 10px grey;
          box-shadow: 10px 10px 10px grey;
}

.tools {
  margin-top: 25px;
  padding: 25px;
  border: 1px solid rgba(32, 178, 171, 0.644);
  text-align: center;
}
.tools h3 {
  padding: 10px 0;
  width: 150px;
  border-bottom: 2px solid rgba(32, 178, 171, 0.644);
}
.tools .toolsFlex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tools .toolsFlex li {
  width: 100px;
  margin-top: 30px;
  text-align: center;
}
.tools .toolsFlex li i {
  font-size: 2rem;
}
.tools .toolsFlex li img {
  width: 35px;
  height: auto;
}
.tools .toolsFlex li p {
  font-size: 0.8rem;
  margin-top: 10px;
}

.projects {
  border: 10px solid rgba(248, 225, 95, 0.788);
  margin: 100px 0;
  padding: 75px 100px 100px 100px;
}
.projects h2 {
  margin: 75px 0;
  text-align: center;
}
.projects h3 {
  height: 50px;
}
.projects p {
  height: 150px;
  padding: 10px;
  font-size: 0.9rem;
  text-align: left;
}
.projects hr {
  width: 60%;
  border: transparent;
  border-top: 3px solid rgba(248, 225, 95, 0.788);
}
.projects img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .toolImg {
  height: 20px;
  width: auto;
}
.projects .madeWithIcons {
  height: 30px;
  margin-top: 10px;
}
.projects .madeWithIcons img {
  width: 25px;
  height: auto;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
ul .partner {
  text-decoration: underline;
}
ul .project {
  margin-bottom: 30px;
  width: calc(33.3333333333% - 20px);
  height: 400px;
  border: 1px solid rgba(248, 225, 95, 0.788);
  text-align: center;
  position: relative;
}
ul .infoOverlay {
  height: 100%;
  width: 100%;
  padding: 25px;
  background-color: #f6f4fa;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
ul .infoOverlay:hover, ul .infoOverlay:focus {
  opacity: 1;
}
ul button {
  width: 45%;
  margin-top: 50px;
  padding: 10px 0;
  border: 2px solid white;
  background-color: rgba(248, 225, 95, 0.788);
}
ul button:hover, ul button:focus {
  background-color: white;
  border: 2px solid rgba(248, 225, 95, 0.788);
  color: #151514;
}
ul .disabled {
  opacity: 0.5;
}
ul .disabled:hover, ul .disabled:focus {
  cursor: not-allowed;
  border: 2px solid white;
  background-color: rgba(248, 225, 95, 0.788);
}

.contact {
  margin-top: 100px;
  padding-top: 75px;
  text-align: center;
}
.contact h2 {
  margin: 50px 0;
  text-align: center;
}
.contact hr {
  margin-top: 50px;
  width: 200px;
  border: transparent;
  border-top: 1px solid #f3c4a9;
}
.contact p {
  margin: 50px 0 50px 0;
  text-align: left;
}
.contact .contactFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.contact .contactTextAndSocials {
  width: 50%;
  padding: 200px 75px 100px 75px;
}
.contact .contactTextAndSocials .contactSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.contact .contactTextAndSocials .contactSocials i {
  height: 2.5rem;
  width: 2.5rem;
  margin: 5px;
  color: #f5a678;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact .contactTextAndSocials .contactSocials i:hover, .contact .contactTextAndSocials .contactSocials i:focus {
  color: #f3c4a9;
  font-size: 2rem;
  cursor: pointer;
}
.contact .returnToTop i {
  width: 2.2rem;
  height: 2.2rem;
  margin-bottom: 5px;
  color: rgba(32, 178, 171, 0.644);
  font-size: 2.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact .returnToTop i:hover, .contact .returnToTop i:focus {
  font-size: 1.8rem;
  cursor: pointer;
}

form {
  padding: 125px 50px 25px 100px;
  background-color: #f3c4a9;
  width: 50%;
  color: white;
  text-align: left;
}
form textarea,
form input {
  margin-top: 25px;
  width: 70%;
  background-color: #f3c4a9;
  border: transparent;
  border-bottom: 3px solid white;
  line-height: 2.5rem;
  font-size: 1rem;
  font-weight: 900;
}
form textarea::-webkit-input-placeholder, form input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}
form textarea::-moz-placeholder, form input::-moz-placeholder {
  color: white;
  opacity: 1;
}
form textarea:-ms-input-placeholder, form input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
form textarea::-ms-input-placeholder, form input::-ms-input-placeholder {
  color: white;
  opacity: 1;
}
form textarea::placeholder,
form input::placeholder {
  color: white;
  opacity: 1;
}
form textarea {
  resize: none;
}
form button {
  margin-top: 50px;
  color: #151514;
  border: 3px solid white;
  background-color: #f5a678;
  min-width: 40%;
}
form button:hover, form button:focus {
  background-color: white;
  border: 3px solid #f5a678;
}

footer {
  color: white;
  text-align: center;
}
footer .wrapper {
  background-color: black;
  height: 100px;
  padding: 20px;
}
footer p {
  padding: 10px;
  font-size: 0.8rem;
}
footer .contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
footer .contactIcons li {
  margin: 0 5px;
  width: 1.5rem;
  height: 1.5rem;
}
footer .contactIcons li a {
  color: white;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .contactIcons li a:hover, footer .contactIcons li a:focus {
  color: rgba(32, 178, 171, 0.644);
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .about .aboutFlex .aboutText {
    width: 50%;
  }
  .about .aboutFlex .photo {
    width: 50%;
  }

  .projects .project {
    width: 50%;
    height: 475px;
    margin: 0;
    border: none;
  }
}
@media (max-width: 1300px) {
  header .sideBars .nameBar {
    left: -55px;
  }
  header .sideBars .titleBar {
    right: -30px;
  }

  .about .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .aboutFlex .aboutText {
    width: 80%;
    padding: 0;
  }
  .about .aboutFlex .photo {
    width: 40%;
    margin: 50px 0;
  }

  form {
    padding: 75px;
  }
  form textarea,
form input {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  header .sideBars .nameBar {
    left: -75px;
  }
  header .sideBars .titleBar {
    right: -50px;
  }

  .about .aboutFlex .photo {
    width: 100%;
  }

  .projects ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects ul .project {
    width: 75%;
  }

  .contactFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactFlexContainer .contactTextAndSocials {
    width: 80%;
    padding: 50px;
  }

  form {
    width: 80%;
    padding: 50px;
  }
  form textarea,
form input {
    width: 100%;
  }
}
@media (max-width: 800px) {
  header .sideBars .nameBar {
    left: -95px;
  }
  header .sideBars .titleBar {
    right: -70px;
  }

  nav {
    padding-top: 20px;
    line-height: 1.5rem;
  }

  .about {
    padding: 15px 100px 100px 100px;
  }
  .about h3 {
    width: 100%;
  }
  .about h5 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1rem;
  }
  .about .aboutFlex .aboutText {
    width: 100%;
  }

  .projects {
    padding: 0;
  }
  .projects ul .project {
    width: 70%;
  }

  .contact {
    padding: 0;
  }
  .contact h2 {
    margin: 25px;
  }

  form {
    text-align: center;
  }
}
@media (max-width: 580px) {
  header h3 {
    text-shadow: 2px 1px white;
    letter-spacing: 0.1rem;
  }
  header img {
    height: 80vh;
  }
  header .sideBars .nameBar {
    white-space: wrap;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    position: relative;
    top: 20vh;
    left: 0;
  }
  header .sideBars .titleBar {
    white-space: wrap;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    position: relative;
    top: 65vh;
    left: 0;
  }

  nav h1 {
    position: absolute;
    top: -4rem;
  }

  .about {
    padding: 50px;
  }
  .about h5 {
    font-size: 1.5rem;
  }

  .projects ul .project {
    width: 80%;
    height: 450px;
    margin-bottom: 600px;
  }
  .projects ul .infoOverlay {
    height: 575px;
    position: static;
    opacity: 1;
  }
  .projects ul .infoOverlay p {
    height: 225px;
  }
  .projects button {
    margin: 10px auto;
    width: 75%;
  }
}
@media (max-width: 460px) {
  .projects ul .project {
    height: 275px;
    margin-bottom: 675px;
  }
  .projects ul .infoOverlay {
    height: 650px;
  }
  .projects ul .infoOverlay p {
    height: 350px;
    padding-top: 20px;
  }
  .projects ul .infoOverlay hr {
    margin-top: 25px;
  }

  .contact .contactTextAndSocials {
    padding: 50px 0;
  }

  form {
    width: 100%;
    padding: 25px;
  }
}