html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

a {
  text-decoration: none;
  color: #151514;
}

html,
body,
ul,
h1,
h2,
h3,
h4,
p {
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  line-height: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  cursor: pointer;
}

nav {
  background-color: white;
  position: fixed;
  padding: 30px 70px 0 0;
  width: 80%;
  height: 73px;
  line-height: 2rem;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav ul li {
  width: calc(20% - 60px);
  text-align: center;
}
nav ul li h3 {
  border-bottom: 3px solid rgba(0, 0, 0, 0.6);
}

img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
}

.sideBars {
  text-align: center;
}
.sideBars .nameBar {
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: fixed;
  top: 50%;
  left: 15px;
}
.sideBars .titleBar {
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: fixed;
  top: 50%;
  right: 30px;
}

.about {
  padding: 100px 0;
  height: 800px;
}
.about h2 {
  margin: 75px 0;
  text-align: center;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.aboutFlex .aboutText {
  width: calc(35% - 10px);
  height: 375px;
  margin: 50px 25px;
  padding: 50px;
  background-color: #d1f7c0;
}
.aboutFlex .aboutText h3 {
  margin-bottom: 25px;
}
.aboutFlex .photo {
  width: calc(50% - 10px);
}
.aboutFlex .photo img {
  width: 100%;
  height: auto;
  background-position: cover;
}

.projects {
  padding: 100px 0;
}
.projects h2 {
  margin: 75px 0;
  text-align: center;
}
.projects img {
  width: 100%;
  height: auto;
}
.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects ul li {
  margin-bottom: 50px;
  width: calc(33.3333333333% - 40px);
  text-align: center;
}
.projects ul li button {
  border: 2px solid white;
  background-color: rgba(248, 225, 95, 0.788);
}
.projects ul li button:hover, .projects ul li button:focus {
  background-color: white;
  border: 2px solid rgba(248, 225, 95, 0.788);
  color: #151514;
}

.contact {
  border: 2px solid lawngreen;
  padding-top: 100px;
}
.contact h2 {
  margin: 75px 0;
  text-align: center;
}
.contact p {
  margin-bottom: 50px;
}
.contact .returnToTop {
  text-align: center;
}
.contact .contactFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .contactTextAndSocials {
  width: 50%;
  padding: 0 75px;
}
.contact .contactTextAndSocials .contactSocials {
  text-align: center;
  font-size: 35px;
  color: #93b4f0;
}
.contact .contactTextAndSocials .contactSocials i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact .contactTextAndSocials .contactSocials i:hover, .contact .contactTextAndSocials .contactSocials i:focus {
  color: #bf9cec;
  cursor: pointer;
}
.contact .returnToTop i {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  color: #93b4f0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact .returnToTop i:hover, .contact .returnToTop i:focus {
  color: #bf9cec;
  font-size: 1.9rem;
  cursor: pointer;
}

form {
  margin-bottom: 50px;
  padding: 75px 50px 50px 50px;
  background-color: #93b4f0;
  width: 50%;
}
form textarea,
form input {
  margin-top: 10px;
  width: 100%;
  background-color: #93b4f0;
  border: 2px solid white;
  line-height: 2rem;
}
form textarea {
  resize: none;
}
form button {
  border: 2px solid white;
  background-color: #93b4f0;
  width: 100%;
}
form button:hover, form button:focus {
  background-color: white;
  border: 2px solid #93b4f0;
  color: #93b4f0;
}

footer {
  color: white;
  text-align: center;
}
footer .wrapper {
  background-color: black;
  height: 100px;
  padding: 20px;
  line-height: 1.5;
}
footer .wrapper i {
  padding: 0 10px;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .wrapper i:hover, footer .wrapper i:focus {
  color: #bf9cec;
  cursor: pointer;
}