@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Roboto:wght@400;900&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body,
p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.6rem;
  font-weight: 400;
  color: rgb(21, 21, 20);
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  text-shadow: 3px 2px rgb(255, 255, 255);
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

h6 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: gold;
}

html,
body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(21, 21, 20);
}

button {
  padding: 10px 20px;
  line-height: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  cursor: pointer;
}

.navBar {
  position: relative;
}
.navBar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  margin-top: 0;
  margin-left: 0;
  padding-top: 10px;
  height: 55px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
}
.navBar nav .ul1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  margin: 0 10% 0 0;
}
.navBar nav .ul2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  margin: 0 0 0 10%;
}
.navBar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navBar nav ul li {
  margin: 0 5%;
  padding-top: 10px;
  min-width: 100px;
  text-align: center;
  border-bottom: 5px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navBar nav ul li:hover, .navBar nav ul li:focus {
  border-bottom: 5px solid rgba(32, 178, 171, 0.644);
  cursor: pointer;
}

.hamMenu {
  position: absolute;
  right: -400px;
  z-index: 20;
}
.hamMenu .hamburg {
  width: 40px;
  height: 40px;
}
.hamMenu .hamburg .hamBars {
  display: block;
  margin: 4px 0;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(21, 21, 20);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.hamMenu .hamburg .hamBars #hamBar1 {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.hamMenu .hamburg .hamBars #hamBar2 {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
.hamMenu .hamburg:hover, .hamMenu .hamburg:focus {
  cursor: pointer;
}
.hamMenu .hamburg:hover .hamBars, .hamMenu .hamburg:focus .hamBars {
  background-color: rgba(32, 178, 171, 0.644);
}
.hamMenu .hamMenuBGND {
  position: absolute;
  top: 15px;
  right: 0;
  width: 0;
  height: 0;
  z-index: -10;
  background-color: rgb(217, 245, 232);
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.hamMenu .hamNav {
  display: none;
  margin-left: -100px;
  width: 100px;
  background-color: transparent;
  line-height: 1.5rem;
}
.hamMenu .hamNav ul {
  margin: 10px 0 0 100px;
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hamMenu .hamNav ul li {
  margin: 5px 10px;
  min-width: 100px;
  line-height: 1.2rem;
  border-bottom: 5px solid transparent;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hamMenu .hamNav ul li:hover, .hamMenu .hamNav ul li:focus {
  border-bottom: 5px solid rgba(32, 178, 171, 0.644);
  cursor: pointer;
}
.hamMenu .change {
  display: block;
}
.hamMenu .change .hamBars {
  background-color: rgba(32, 178, 171, 0.644);
}
.hamMenu .change #hamBar1 {
  -webkit-transform: translateY(9px) rotateZ(-45deg);
          transform: translateY(9px) rotateZ(-45deg);
}
.hamMenu .change #hamBar2 {
  opacity: 0;
}
.hamMenu .change #hamBar3 {
  -webkit-transform: translateY(-9px) rotateZ(45deg);
          transform: translateY(-9px) rotateZ(45deg);
}
.hamMenu .changeBGND {
  width: 460px;
  height: 460px;
  -webkit-transform: translate(80%, -35%);
          transform: translate(80%, -35%);
}

body {
  position: relative;
}

header h1 {
  position: fixed;
  top: 10px;
  left: calc(50% - 130px);
  width: 250px;
  z-index: 15;
}
header img {
  height: 90vh;
  min-height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .toAbout {
  height: 3.5rem;
  text-align: center;
}
header .toAbout i {
  padding-top: 0.6rem;
  width: 3.5rem;
  height: 3rem;
  border-radius: 40px;
  color: rgb(255, 197, 192);
  font-size: 2.5rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .toAbout i:hover, header .toAbout i:focus {
  font-size: 2.3rem;
  cursor: pointer;
  margin-top: 10px;
  padding-top: 0.5rem;
  width: 3rem;
  height: 3rem;
  background-color: rgb(255, 197, 192);
  color: rgb(255, 255, 255);
}

.sideBars .nameBar {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  position: fixed;
  bottom: 0;
  left: 6%;
  height: 10%;
  width: 5%;
}
.sideBars .nameBar h6 {
  margin: 0;
  padding-left: 20vh;
}
.sideBars .titleBar {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  white-space: nowrap;
  position: fixed;
  top: 0;
  right: 2.5%;
  height: 10%;
  width: 5%;
}
.sideBars .titleBar h6 {
  margin: 0;
  padding-left: 25vh;
}
.sideBars .titleBar .extraSpace {
  padding-left: 34vh;
}

.about {
  background-color: rgb(190, 225, 174);
  margin: 20px 0;
  padding: 10px 100px 75px 100px;
}
.about h2 {
  margin: 75px 0 50px 0;
  text-align: center;
}
.about p {
  margin-top: 25px;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.aboutFlex .aboutText {
  width: 70%;
  line-height: 1.5;
  padding: 25px 75px 25px 0;
}
.aboutFlex .aboutText hr {
  margin-top: 25px;
  width: 60%;
  border: transparent;
  border-top: 1px solid rgb(88, 178, 32);
}
.aboutFlex .photo {
  width: 30%;
}
.aboutFlex .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 10px 10px 10px grey;
          box-shadow: 10px 10px 10px grey;
}

.tools {
  margin-top: 25px;
  padding: 25px;
  border: 1px solid rgb(88, 178, 32);
  text-align: center;
}
.tools h3 {
  padding: 10px 0;
  width: 150px;
  border-bottom: 2px solid rgb(88, 178, 32);
}
.tools .toolsFlex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tools .toolsFlex li {
  width: 100px;
  margin-top: 30px;
  text-align: center;
}
.tools .toolsFlex li i {
  font-size: 2rem;
}
.tools .toolsFlex li img {
  width: 35px;
  height: auto;
}
.tools .toolsFlex li p {
  font-size: 0.8rem;
  margin-top: 10px;
}

.projects {
  border: 10px solid rgba(248, 225, 95, 0.788);
  margin: 75px 0 0 0;
  padding: 0 100px;
}
.projects h2 {
  margin: 75px 0 50px 0;
  text-align: center;
}
.projects h3 {
  height: 50px;
  padding-top: 20px;
}
.projects h4 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 1rem;
  color: grey;
}
.projects p {
  height: 150px;
  padding: 10px;
  font-size: 0.9rem;
  text-align: left;
}
.projects hr {
  width: 60%;
  border: transparent;
  border-top: 3px solid rgba(248, 225, 95, 0.788);
}
.projects img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .titleAdjust1 {
  padding-top: 0;
}
.projects .toolImg {
  height: 20px;
  width: auto;
}
.projects .madeWithIcons {
  height: 30px;
  margin-top: 10px;
}
.projects .madeWithIcons img {
  width: 25px;
  height: auto;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
ul .partner {
  font-weight: 600;
}
ul .partner:hover, ul .partner:focus {
  text-decoration: underline;
  color: rgb(88, 178, 32);
}
ul .project {
  margin-bottom: 30px;
  width: calc(33.3333333333% - 20px);
  height: 400px;
  border: 1px solid rgba(248, 225, 95, 0.788);
  text-align: center;
  position: relative;
}
ul .infoOverlay {
  height: 100%;
  width: 100%;
  padding: 25px;
  background-color: rgb(246, 246, 226);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
ul .infoOverlay:hover, ul .infoOverlay:focus {
  opacity: 1;
}
ul button {
  width: 45%;
  margin-top: 50px;
  padding: 10px 0;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(248, 225, 95, 0.788);
}
ul button:hover, ul button:focus {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(248, 225, 95, 0.788);
  color: rgb(21, 21, 20);
}

.contact {
  padding-top: 35px;
  text-align: center;
}
.contact h2 {
  margin: 50px 0;
  text-align: center;
}
.contact hr {
  margin-top: 50px;
  width: 200px;
  border: transparent;
  border-top: 1px solid rgb(243, 184, 150);
}
.contact p {
  margin: 50px 0 25px 0;
  text-align: left;
}
.contact .contactFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.contact .contactTextAndSocials {
  width: 50%;
  padding: 100px 75px 0 75px;
}
.contact .contactTextAndSocials .contactSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.contact .contactTextAndSocials .contactSocials i {
  height: 2.5rem;
  width: 2.5rem;
  margin: 5px;
  color: rgb(245, 151, 98);
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact .contactTextAndSocials .contactSocials i:hover, .contact .contactTextAndSocials .contactSocials i:focus {
  color: rgb(243, 184, 150);
  font-size: 2rem;
  cursor: pointer;
}
.contact .returnToTop i {
  width: 3rem;
  height: 3rem;
  margin-bottom: 15px;
  color: rgba(32, 178, 171, 0.644);
  font-size: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact .returnToTop i:hover, .contact .returnToTop i:focus {
  font-size: 2.5rem;
  cursor: pointer;
}

form {
  padding: 10px 50px 50px 100px;
  background-color: rgb(243, 184, 150);
  width: 50%;
  color: rgb(255, 255, 255);
  text-align: left;
}
form p {
  text-shadow: 0 0 5px rgb(245, 151, 98);
}
form textarea,
form input {
  margin-top: 25px;
  width: 70%;
  background-color: rgb(243, 184, 150);
  border: transparent;
  border-bottom: 2px solid rgb(255, 255, 255);
  line-height: 2.5rem;
  font-size: 1rem;
  font-weight: 900;
  text-shadow: 0 0 5px rgb(245, 151, 98);
  letter-spacing: 0.2rem;
}
form textarea::-webkit-input-placeholder, form input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}
form textarea::-moz-placeholder, form input::-moz-placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}
form textarea:-ms-input-placeholder, form input:-ms-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}
form textarea::-ms-input-placeholder, form input::-ms-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}
form textarea::placeholder,
form input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}
form textarea {
  resize: none;
}
form button {
  margin-top: 50px;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: rgb(21, 21, 20);
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(245, 151, 98);
  min-width: 40%;
}
form button:hover, form button:focus {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(245, 151, 98);
}
form .formMessage {
  color: rgb(21, 21, 20);
  text-shadow: none;
}

footer {
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: black;
  height: 100px;
  padding: 20px 0;
}
footer p {
  padding: 10px;
  font-size: 0.8rem;
}
footer .contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
footer .contactIcons li {
  margin: 0 5px;
  width: 1.5rem;
  height: 1.5rem;
}
footer .contactIcons li a {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .contactIcons li a:hover, footer .contactIcons li a:focus {
  color: rgba(32, 178, 171, 0.644);
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 1550px) {
  header .sideBars .nameBar {
    left: 5%;
  }
  header .sideBars .titleBar {
    right: 1.5%;
  }
}
@media (max-width: 1400px) {
  .about .aboutFlex .aboutText {
    width: 50%;
  }
  .about .aboutFlex .photo {
    width: 50%;
  }

  .projects .project {
    width: calc(50% - 15px);
    height: 500px;
  }
  .projects .project button {
    margin-top: 20px;
  }
}
@media (max-width: 1300px) {
  header .sideBars h6 {
    font-size: 2rem;
  }
  header .sideBars .nameBar h6 {
    padding-left: 24vh;
  }
  header .sideBars .titleBar {
    right: 2.5%;
  }
  header .sideBars .titleBar h6 {
    padding-left: 30vh;
  }
  header .sideBars .titleBar .extraSpace {
    padding-left: 37vh;
  }

  .projects .project {
    height: 450px;
  }
  .projects .project .titleAdjust2 {
    padding-top: 0;
  }

  .about .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .aboutFlex .aboutText {
    width: 80%;
    padding: 0;
  }
  .about .aboutFlex .photo {
    width: 40%;
    margin: 50px 0;
  }

  form {
    padding: 0 75px 50px 75px;
  }
  form textarea,
form input {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .contact .contactTextAndSocials {
    padding-top: 50px;
  }

  .projects .project {
    height: 400px;
  }
}
@media (max-width: 1120px) {
  h5 {
    font-size: 2rem;
  }
}
@media (max-width: 1108px) {
  .project .titleAdjust3 {
    padding-top: 0;
  }
}
@media (max-width: 1100px) {
  header h1 {
    top: 15px;
    font-size: 1.2rem;
    left: calc(50% - 115px);
  }
  header .sideBars h6 {
    font-size: 1.5rem;
  }
  header .sideBars .nameBar {
    left: 6.5%;
  }
  header .sideBars .nameBar h6 {
    padding-left: 28vh;
  }
  header .sideBars .titleBar {
    right: 3.5%;
  }
  header .sideBars .titleBar h6 {
    padding-left: 33vh;
  }
  header .sideBars .titleBar .extraSpace {
    padding-left: 39vh;
  }

  .projects .project {
    height: 375px;
  }
}
@media (max-width: 1086px) {
  .project .titleAdjust4 {
    padding-top: 0;
  }
}
@media (min-width: 1001px) {
  .hamMenu {
    display: none;
  }
}
@media (max-width: 1000px) {
  .hamMenu {
    position: fixed;
    top: 15px;
    right: 10%;
  }

  .navBar ul {
    height: 55px;
    position: absolute;
    top: -300px;
  }

  .about .aboutFlex .photo {
    width: 100%;
  }

  .projects ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects ul .project {
    width: 65%;
    height: 450px;
  }
  .projects ul .project .titleAdjust3,
.projects ul .project .titleAdjust4 {
    padding-top: 20px;
  }
  .projects ul .project button {
    margin-top: 75px;
  }

  .contactFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactFlexContainer .contactTextAndSocials {
    width: 80%;
    padding: 50px;
  }

  form {
    width: 80%;
    padding: 50px;
  }
  form textarea,
form input {
    width: 100%;
  }
}
@media (max-width: 900px) {
  header .sideBars .nameBar {
    left: 8%;
  }
  header .sideBars .titleBar {
    right: 4%;
  }

  .projects ul .project {
    width: 85%;
  }
  .projects ul .project .titleAdjust2 {
    padding-top: 20px;
  }
}
@media (max-width: 844px) {
  .projects ul .project .titleAdjust2 {
    padding-top: 0;
  }
}
@media (max-width: 800px) {
  .about {
    padding: 15px 100px 100px 100px;
  }
  .about h5 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1rem;
  }
  .about .aboutFlex .aboutText {
    width: 100%;
  }

  .contact {
    padding: 0;
  }

  form {
    text-align: center;
  }
}
@media (max-width: 750px) {
  .projects {
    margin-bottom: 75px;
  }
  .projects ul .project {
    width: 100%;
  }
}
@media (max-width: 705px) {
  .tools {
    padding: 25px 0;
  }
}
@media (max-width: 700px) {
  header h3 {
    text-shadow: 2px 1px rgb(255, 255, 255);
    letter-spacing: 0.1rem;
  }
  header .sideBars {
    height: 0;
  }
  header .sideBars .nameBar {
    white-space: normal;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    position: relative;
    top: 12vh;
    left: 0;
    width: 100%;
    padding: 0 15%;
    text-align: center;
  }
  header .sideBars .nameBar h6 {
    padding: 0;
    font-size: 2rem;
  }
  header .sideBars .titleBar {
    white-space: normal;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    position: relative;
    top: 72vh;
    left: 0;
    width: 100%;
    padding: 0 20%;
    text-align: center;
  }
  header .sideBars .titleBar h6,
header .sideBars .titleBar .extraSpace {
    padding: 0;
    font-size: 1.7rem;
  }

  .projects {
    padding: 0 75px;
  }
}
@media (max-width: 645px) {
  .wrapper {
    width: 90%;
  }

  .hamMenu {
    position: fixed;
    top: 15px;
    right: 5%;
  }
  .hamMenu .hamNav ul {
    margin-left: 65px;
  }
  .hamMenu .changeBGND {
    -webkit-transform: translate(75%, -35%);
            transform: translate(75%, -35%);
  }
}
@media (max-width: 618px) {
  .projects ul .project .titleAdjust3 {
    padding-top: 0;
  }
}
@media (max-width: 580px) {
  header .sideBars .nameBar {
    width: auto;
    left: 0;
  }

  .about {
    padding: 1px 50px 50px 50px;
  }
  .about h5 {
    font-size: 1.5rem;
  }

  .projects {
    padding: 0 20px;
  }
  .projects ul .project {
    width: 100%;
  }
  .projects ul .project .titleAdjust2,
.projects ul .project .titleAdjust3 {
    padding-top: 20px;
  }
}
@media (max-width: 561px) {
  .projects ul .project .titleAdjust2 {
    padding-top: 0;
  }
}
@media (max-width: 481px) {
  header h1 {
    left: 5%;
  }

  .projects ul .project .titleAdjust3 {
    padding-top: 0;
  }

  .contact .contactTextAndSocials {
    padding: 50px 0;
  }

  form {
    width: 100%;
    padding: 25px;
  }
}
@media (max-width: 470px) {
  .about {
    padding: 25px;
  }

  .projects ul .project .titleAdjust4 {
    padding-top: 0;
  }
}
@media (max-width: 430px) {
  header .sideBars .titleBar {
    width: auto;
    left: 0;
    top: 68vh;
  }

  .projects {
    padding: 0 10px;
  }
  .projects h4 {
    position: absolute;
    left: -1000px;
  }
  .projects ul .project {
    height: 490px;
  }
  .projects ul .project img {
    opacity: 0;
  }
  .projects ul .project .titleAdjust1 {
    height: 3.3rem;
  }
  .projects ul .project .titleAdjust2 {
    padding-top: 20px;
    height: 3.6rem;
  }
  .projects ul .project .titleAdjust3,
.projects ul .project .titleAdjust4 {
    padding-top: 20px;
  }
  .projects ul .project .titleAdjust5 {
    padding-top: 30px;
  }
  .projects ul .project .infoOverlay {
    padding: 5px;
    opacity: 1;
  }
  .projects ul .project .madeWithIcons img {
    opacity: 1;
  }
  .projects ul .project h3 {
    padding-top: 10px;
  }
  .projects ul .project p {
    height: auto;
  }
  .projects ul .project hr {
    margin-top: 30px;
  }
  .projects ul .project button {
    margin: 5px 0 5px 0;
    width: 80%;
  }
}